.chats-layout {
    display: grid;
    grid-template-areas: 
    "aside chat chat"
    ;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 1fr auto;
}

#aside {
    padding: 0px 20px;
    background-color: #292929ff;
    border-right: 2px solid #90909020;
    border-radius: 20px 0px 0px 20px;
}

.list {
    margin-top: 20px;
}

.list-of-contacts-header {
    border-bottom: 1px solid #90909020;
}