.list-of-contacts-item {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s ease background-color;

}

.list-of-contacts-item:hover {
    background-color: #7c7c7c20;
    cursor: pointer;
}

.is-selected-item {
    background-color: #7c7c7c49;
}

.list-of-contacts-item-header-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px;
}

.list-of-contacts-item-button:hover {
    cursor: pointer;
}

.list-of-contacts-item-avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.list-of-contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 19px;
}

.crm-status-is-online {
    color: aquamarine;
}

.crm-status-is-offline {
    color: crimson;
}