.crm-chat-main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: auto;
    height: 600px;
}

.crm-chat-header {
    width: 100%;
    border-radius: 0px 20px 0px 0px;
    background-color: #292929ff;
}

.crm-chat-header-elements {
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crm-chat-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.crm-chat-contact-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.crm-chat-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 19px;
}

.crm-chat-options {
    width: 40px;
    height: 40px;
}

.crm-chat-options-button:hover {
    cursor: pointer;
}

.crm-chat-body {
    width: 500px;
    height: 75%;
    background-image: url('../../public/backgrounds/whatsapp-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crm-chat-footer {
    width: 100%;
    border-radius: 0px 0px 20px 0px;
    background-color: #292929ff;
}

.crm-chat-footer-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
}

.icon-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    rotate: -45grad;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crm-chat-message-input {
    width: 84%;
    font-size: 18px;
    background-color: #90909020;
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
}